body {
  font-family: "Montserrat Alternates", Segoe UI, Tahoma, Geneva,
    Verdana sans-serif;
  margin: 0;
  background: var(--bg-body);
}

h1,
h2 {
  font-family: "Montserrat Alternates", Segoe UI, Tahoma, Geneva,
    Verdana sans-serif;
}

.titel {
  text-align: center;
  margin-top: 20px;
}
.line-deco-animated {
  height: 3px;
  background-color: #2c3e50;
  margin: 10px auto 10px auto;
  border-radius: 2px;
  width: 0;
  animation: expandLine 1s ease-out forwards;
  transform-origin: center;
}

@keyframes expandLine {
  0% {
    width: 0;
  }
  100% {
    width: 600px;
  }
}

.untertitel {
  text-align: center;
  margin-top: 6px;
  font-size: 1em;
  color: #2f4156;
  opacity: 0.4;
}

.tiel-formular {
  text-align: center;
  margin-top: 5px;
}

.w3-container-formular {
  background-color: #f4f4f4;
  border: 2px solid #879d91;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 32px;
  max-width: 200px;
  margin: auto;
}

/* Label-Styling */
.w3-container-formular label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #2f4156;
}

/* Eingabefelder und Textarea */
.w3-container-formular input,
.w3-container-formular textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #567c8d;
  background-color: #c8d9e6;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Fokus- und Hovereffekt */
.w3-container-formular input:focus,
.w3-container-formular textarea:focus {
  outline: none;
  border-color: #2f4156;
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(47, 65, 86, 0.4);
}

/* Optionaler Button */
.w3-container-formular button {
  background-color: #567c8d;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.w3-container-formular button:hover {
  background-color: #2f4156;
}
