/* überschrift-stil (zentriert*/
h1,
h2,
.title,
.undertitle {
  font-family: "Montserrat Alternates", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

/* titel der seite*/
.title {
  margin-top: 20px;
  font-size: 2em;
}

/* untertitel (bisschen transparent und kleiner) */
.undertitle {
  margin-top: 25px;
  font-size: 1em;
  color: #2f4156;
  opacity: 0.4;
  padding: 0 10px;
}

/* animierte linie */
.line-animated {
  height: 3px;
  background-color: #2c3e50;
  margin: 20px auto 15px auto;
  border-radius: 2px;
  width: 0; /* wird durch Animation erweitert */
  max-width: calc(100% - 200px); /* 100px Abstand links/rechts */
  animation: expandLine 1s ease-out forwards;
  transform-origin: center;
}

/* animation linie von 0 auf 100 */
@keyframes expandLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* formular container */
.modern-form {
  background-color: #f4f4f4;
  border: 2px solid #879d91;
  border-radius: 12px;
  padding: 32px;
  max-width: 800px;
  margin: 35px auto 40px auto;
  font-family: "Montserrat Alternates", sans-serif;
}

/* abstand felder*/
.form-field,
.w3-row-padding > .w3-col {
  margin-bottom: 20px;
}

/* eingabefelder und textbereich */
.modern-form input,
.modern-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #567c8d;
  background-color: #c8d9e6;
  font-size: 16px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

/* stil beim fokus auf felder */
.modern-form input:focus,
.modern-form textarea:focus {
  background-color: #ffffff;
  border-color: #2f4156;
  outline: none;
  box-shadow: 0 0 6px rgba(47, 65, 86, 0.4);
}

/* name felder */
.modern-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #2f4156;
}


/* button-stil */
.form-button button {
  background-color: #567c8d;
  text-align: center;
  color: #f4f4f4;
  border: none;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* hover effekt button */
.form-button button:hover {
  background-color: #2f4156;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* responsive verhalten füt handy*/
@media (max-width: 768px) {
  .titel {
    font-size: 1.5em; /* kleinerer Titel */
  }

  .untertitel {
    font-size: 0.9em; /* kleinerer Untertitel */
  }

  .line-deco-animated {
    max-width: calc(100% - 100px); /* engerer abstand */
  }

  .modern-form {
    padding: 20px;
    margin: 20px 10px 40px 10px; /* weniger Rand */
  }

  .form-button button {
    width: 100%; /* button über gesamte Breite */
  }
}
