.video-container {
  position: relative;
}

.overlay-logo {
  position: absolute;
  top: 65%; /* Position Logo, Abstand zu oben */
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 2s ease-in forwards; /* Einblenden Logo */
  pointer-events: none;
}

.overlay-img {
  width: 700px; /* Grösse Logo */
  height: auto;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.audio {
  position: absolute; /*Löst es aus dem normalen Fluss*/
  top: 0; /* Grösse */
  left: 0; /* Positioniert es oben links */
  width: 0; /* Kein Platzbedarf */
  height: 0; /* Kein Platzbedarf */
  opacity: 0; /* Unsichtbar */
  pointer-events: none; /* Nicht anklickbar */
}
